# Virtual Environment
Lib/
Include/
Scripts/
venv/
.venv/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables & SQLite
.env
db.sqlite3

# Static files generated locally
staticfiles/